* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  font-family: Square721 BT !important;
}

:root {
  --fav-blue: rgb(1, 93, 184);
}

/* -------------------- CALCULATOR TABLE ----------------------- */

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #242323;
}

section .btns button:hover span {
  border-color: var(--fav-blue);
  color: var(--fav-blue);
  transition: 0.5s;
}


section table {
  width: max-content;
  height: max-content;
  transform: scale(1.5);
  border-radius: 20px;
  box-shadow: 0 0 10px solid gray;
  gap: 3px;
}

section table #calc-screen {
  width: 15vw;
  padding: 1rem;
  border: 2px solid gray;
  border-radius: 5px;
  color: white;
}

section table #numBtn {
  padding: 1rem;
  width: 100%;
  margin: none;
  /* border: 1px solid var(--fav-blue); */
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
}

section table #numBtn:hover {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  transform: scale(0.95);
}

section table .equal-sign {
  background-color: var(--fav-blue);
  color: white;
}
section table #clear-btn {
  padding: 1rem;
  width: 100%;
  margin: none;
  background-color: #a23;
  color: white;
  border: none;
  border-radius: 5px;
}

section table #clear-btn:hover {
  transform: scale(0.93);
}

/* ------------------- Mobile Viewing ---------------- */

@media screen and (max-width: 850px){
  section table {
    width: max-content;
    transform: scale(1.7);
  }

  section table #calc-screen {
    width: 30vw;
  }

  section table #numBtn {
    padding: auto;
    width: 100%;
    text-align: center;
  }  

  section table #clear-btn {
    padding: auto;
    width: 100%;
    text-align: center;
  }

    section .btns button {
        width: max-content;
    }
    section table #clear-btn:hover {
      transform: scale(1);
    }

    section table #numBtn:hover {
      transform: scale(1);
    }

    /* Smaller Screens */
    @media screen and (max-width: 320px) {
      section table {
        transform: scale(1.3);
      }
    }
 }